  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
}


.Navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    top: 0;

}
.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
padding: 26px 30px;
list-style: none;
color: white;
font-family: 'poppins',sans-serif;
}
.nav-list li a{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{

color: lightblue;
}

.RightNav {
  width: 50%;
  text-align: right;
  padding: 0 23px;

}


.logo img{
    height: 40px;
    border: 5px solid white;
    border-radius: 100%;
     
}
#Search{
    border-radius: 9px;
    padding: 7px;
    border: 2px solid lightcoral;
    font-size: 15px;

}

.background{
     background:rgb(248, 248, 248) url(image/wallpaperflare.com_wallpaper.jpg);
     background-blend-mode:darken ;
     background-size: cover;
    
 
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    max-width: 50%;
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.firstSection{
    height: 100vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.secondHalf {
    width: 30%;

}

.secondHalf img{

    border-radius: 150px;
    border: 4px solid rgb(56, 136, 187);
    display: block;
    margin: auto;
      height: 150px;
}
.text-big{
    font-size: 41px;
}


.text-small{

    font-size: 18px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.btn-dark{
    color: black;
    border:2px solid black;
}
.section{
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    max-width: 80%;
    font-family: 'Ubuntu', sans-serif;

}


.paras{
    padding: 0px 65px;
}


.secLeft
{
    flex-direction: row-reverse;

} 


.paras{
    padding: 0px 65px;
}

.section img{
    width: 350px;
}

.secLeft img{
    width: 350px;
}

.secRight img{

    width: 350px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    border-radius: 28px;
    border: 2px solid  skyblue;
    margin-top: 30px;
}

.text-small{
    margin-top: 10px;
    text-align: justify;
}

.contect{
    background-color: aliceblue;
    height: 60vh;
}

.text-center{
    text-align: center;
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom:15px;
}
.form{
    max-width: 1200px;
    margin: 25px auto;
}
.form-input{
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border-radius: 2px solid  grey ;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}


.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubunto', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 17px;
}
